In [16]:
#import the packages 
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
#read the data
visa_df=pd.read_csv('Visadataset - Visadataset.csv')

In [18]:
visa_df.head(3)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied

# DATA STANDARDIZATION

- STANDARDIZATION MEANS CONVERTING ALL THE DATA TO ONE SCALE 
- WE CAN ALSO CALLED AS SCALLING
- EVERY COLUMN HAS DIFFERENT UNITS EVERY COLUMN VARYS FORM OTHER
- SOME COLUMN HAS HUGE VALUES
- SOME COLUMN HAS LESS VALUES 
- SO TO MAKE EVERY COLUMN ON ONE SCALE WE USE THIS DATA STANDARDIZATION TECHNIQUES
- THESE ARE 2 TECHNIQUES
  - 1) STANDIZATION 
    - Z-SCORE
    - VAREIES FROM -3 TO 3
    <img class="XqHOTb IGEbUc" alt="Z = \frac{x - \mu}{\sigma}" src="https://www.gstatic.com/education/formulas2/553212783/en/z_score.svg" role="img" data-csiid="20" data-atf="0">
    - HERE X= DATA EX:TOTAL COLUMN DATA
       - MUU=MEAN
        - SIGMA=STANDARD DEVIATION

- 2 NORMALIZATION
  - MIN-MAX SCALLER
  - VARIES FROM 0-1
  <img src="https://i.stack.imgur.com/EuitP.png" jsaction="VQAsE" class="sFlh5c pT0Scc iPVvYb" style="max-width: 1058px; height: 79px; margin: 19.5px 0px; width: 353px;" alt="python - Can someone explain to me how MinMaxScaler() works ..." jsname="kn3ccd" aria-hidden="false">

# STANDIZIATION

- Z-SCORE

- FIRST LETS DO MANUALLY

In [19]:
# simple select the column that u want to chane the scale of it
# lets take 'periviling_wage'

In [20]:
#step-1 finding x
x=visa_df['prevailing_wage']

In [21]:
#step-2 find mu value that is mean
mean=visa_df['prevailing_wage'].mean()
mean

74455.81459209183

In [22]:
#step3 finding the standartdeviation
std_div=visa_df['prevailing_wage'].std()
std_div

52815.94232687357

In [23]:
# step4 do the steps accoring to formula set that as numerator
numerator=x-mean

In [24]:
# step5 now divide the numerator with standard deviation
standardization=numerator/std_div

In [25]:
# step 6 now add this column to original data frame 

visa_df['prevailing_wage_std_new']=standardization

In [26]:
visa_df[['prevailing_wage','prevailing_wage_std_new']]
# we can observe the our data is changed to -3 to 3 scale

       prevailing_wage  prevailing_wage_std_new
0             592.2029                -1.398510
1           83425.6500                 0.169832
2          122996.8600                 0.919060
3           83434.0300                 0.169991
4          149907.3900                 1.428576
...                ...                      ...
25475       77092.5700                 0.049923
25476      279174.7900                 3.876083
25477      146298.8500                 1.360253
25478       86154.7700                 0.221504
25479       70876.9100                -0.067762

[25480 rows x 2 columns]

#to verify this now 
- find the max value in 'perling_wage'
- find the max value in 'perling_wage_new'
- if both matches then check their ids
- if ids also matches then its good 
- lets do it

In [27]:
visa_df['prevailing_wage'].max()

319210.27

In [28]:
visa_df['prevailing_wage_std_new'].max()

4.634101837909902

**NOTE**: AS WE SAID THAT Z-SCORE VARIES FORM -3 TO 3 BUT WE ARE GETTING VALUE AS 4 BECASUSE THUS ARE OUTLAYERS

In [29]:
# lets check the ids

In [30]:
visa_df['prevailing_wage'].idxmax()

21077

In [31]:
# 21077 it sayes about at which row (or) position it was present

In [32]:
#now
visa_df['prevailing_wage_std_new'].idxmax()

21077

- MATCHED THAT MEANS OUR DATA IS SUCESSUFULLY TRANSFORMED TO Z SCORE

**NOTE:** GENERALLY IN REALTIME OUR Z-SCORE DATA WE WILL DIRECTLY REPLACE IN ORIGINAL COLUMN
- BUT HERE WE JUST CREATED NEW_COUMN BECASUE OF COMPARIZATON PERPOSE

# WE HAVE METHOD CALLED 
- StandardScaler

- it is avalible in sklearn
- read package 
- save the package
- apply fit transform

In [33]:
from sklearn.preprocessing import StandardScaler
SS=StandardScaler()
visa_df['prevailing_wage_method']=SS.fit_transform(visa_df[['prevailing_wage']])

**NOTE:** HERE WE SHOULD PASS [[ ]] BECASUSE IT DOESNOT TAKE SERIES IT NEED THE DATA IN DataFrame

In [34]:
#now read the data
visa_df[['prevailing_wage','prevailing_wage_std_new','prevailing_wage_method']]

       prevailing_wage  prevailing_wage_std_new  prevailing_wage_method
0             592.2029                -1.398510               -1.398537
1           83425.6500                 0.169832                0.169835
2          122996.8600                 0.919060                0.919079
3           83434.0300                 0.169991                0.169994
4          149907.3900                 1.428576                1.428604
...                ...                      ...                     ...
25475       77092.5700                 0.049923                0.049924
25476      279174.7900                 3.876083                3.876159
25477      146298.8500                 1.360253                1.360280
25478       86154.7700                 0.221504                0.221509
25479       70876.9100                -0.067762               -0.067763

[25480 rows x 3 columns]

# NORMIALIZATION

- minmaxscaller

In [35]:
#read data

In [36]:
visa_df=pd.read_csv('Visadataset - Visadataset.csv')

In [37]:
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [38]:
#step1 get x 
x=visa_df['prevailing_wage']

In [39]:
#step2 get min value

In [40]:
minn=visa_df['prevailing_wage'].min()

In [41]:
#step3 get max value

In [42]:
maxx=visa_df['prevailing_wage'].max()

In [43]:
#step-4 get numerator value

In [44]:
numerator=x-minn

In [45]:
# step-5 get denomeator
denemonator=maxx-minn

In [46]:
result=numerator/denemonator

In [47]:
visa_df['prevailing_wage_new_manual']=result

In [48]:
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_new_manual
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied,0.001849
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified,0.261345
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied,0.385312
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied,0.261371
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified,0.469616
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified,0.241505
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified,0.874579
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified,0.458311
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified,0.269895
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified,0.222033

- as we know that value ranges from 0 to 1 lets find max and min values

In [49]:
visa_df['prevailing_wage_new_manual'].max()

1.0

In [50]:
visa_df['prevailing_wage_new_manual'].min()

0.0

# lets do by method called as 
- minmaxscaller

In [51]:
from sklearn.preprocessing import MinMaxScaler

In [52]:
mms=MinMaxScaler()

In [53]:
visa_df['prevailing_wage_method']=mms.fit_transform(visa_df[['prevailing_wage']])

In [56]:
visa_df[['prevailing_wage','prevailing_wage_new_manual','prevailing_wage_method']]

       prevailing_wage  prevailing_wage_new_manual  prevailing_wage_method
0             592.2029                    0.001849                0.001849
1           83425.6500                    0.261345                0.261345
2          122996.8600                    0.385312                0.385312
3           83434.0300                    0.261371                0.261371
4          149907.3900                    0.469616                0.469616
...                ...                         ...                     ...
25475       77092.5700                    0.241505                0.241505
25476      279174.7900                    0.874579                0.874579
25477      146298.8500                    0.458311                0.458311
25478       86154.7700                    0.269895                0.269895
25479       70876.9100                    0.222033                0.222033

[25480 rows x 3 columns]

In [57]:
visa_df['prevailing_wage_method'].max()

0.9999999999999999

In [58]:
visa_df['prevailing_wage_method'].min()

0.0

In [ ]:
==============================================================================================================================